* {
  font-family: "Lato",sans-serif;
}
body {
  background-image: url(../img/background1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  margin: 0;
}
/* New */
canvas {
  position: absolute;
  z-index: -1;
}
.header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__title {
  flex-grow: 1;
  text-align: center;
  color: #fff;
  font-family: 'Cabin', sans-serif;
}
.hader__logo {
  border: 1px solid white;
  flex-grow: 3;
}
.header__photo {
  border-radius: 50%;
  box-shadow: 0 0 15px #9ecaed;
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.header__bottom {
  flex-grow: 1;
}
.header__person {
  height: auto;
  width: 30vw;
  margin-bottom: -17vh;
}
.navbar {
  font-family: 'Cabin', sans-serif;
  margin-top: 5vh;
  position: static;
  display: flex;
  justify-content: space-around;
  border: 1px solid white;
  width: 100%;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75), 0px -10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75), 0px -10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75), 0px -10px 5px 0px rgba(0,0,0,0.75);
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-fixed {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;

}
.navbar-fixed + #about {
  padding-top: 100px;
}
.navbar > a {
  font-size: 1.3rem;
  color: #fff;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  text-decoration: none;
}
.navbar > a:hover {
  text-shadow: 2px 1px 3px #0011;
}
.break {
  background-image: url(../img/city.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 200px;
}
.section {
  background-color: #fff;
  color: #444948;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.section__heading {
  width:100%;
  text-align: center;
}
.section__image {
  height: auto;
  width: 80vw;
}
.section__content p {
  font-size: 1.3em;
  line-height: 1.6;

}
.section__link {
  margin: auto;
  margin: 0 auto;
  color: white;
}
.courses {
  width: 100px;
  height: 100px;
}
.courses__img {
  height: 100px;
  width: auto;
}
/* Goodreads */
.goodreads {
  color: #444948;
}
.hidden {
  display: none;
}
.invis {
  visibility: hidden;
}
.gr_custom_container_1533674007 {
    /* customize your Goodreads widget container here*/
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #444948;
    width: 300px
  }
  .gr_custom_header_1533674007 {
    /* customize your Goodreads header here*/
    width: 100%;
    color: #444948;
    margin-bottom: 15px;
    text-align: center;
    font-size: 120%;
    cursor: pointer;
  }
  .gr_custom_each_container_1533674007 {
    /* customize each individual book container here */
    width: 100%;

    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1533674007 {
    /* customize your book covers here */
    overflow: hidden;
    height: 160px;
    color: #444948;
    margin: 0 auto;
    width: 98px;
  }
  .gr_custom_author_1533674007 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_title_1533674007 a {
    text-decoration: none;
    color: #444948;
  }
  .gr_custom_author_1533674007 a {
    text-decoration: none;
    color: #444948;
  }
.projects {}
.projects__img {
  width: 100px;
  height: 100px;
}
.footer {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: white;
  position: relative;

}
.footer__button {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 25px 42px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  border-color: #444948;
  cursor: pointer;
}
.footer__form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
} 
.form__ele {
  width: 70vw;
  margin-top: 10px;
}
/* Old */

footer .center {
  padding-top: 20px;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}
footer .center span:nth-child(1) {
  color: green;
}
footer .center span:nth-child(3) {
  color: skyblue;
}
footer .right {
  text-align: right;
}
footer .right a {
  font-size: 16px;
}
footer .fa,
footer a {
  color: white;
  padding: 20px 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

footer a:hover {
  opacity: 0.7;
  color: white;
  text-decoration: none;
}
/* For mobile phones: */
@media only screen and (max-width: 840px) {
  footer {
    font: bold 14px sans-serif;
  }
  footer .left,
  footer .right {
    text-align: center;
  }
}