* {
  font-family: "Lato",sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
/* New */
.header {
  background-image: url(../img/background0.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
.header__title1 {
  left: 10%;
  position: absolute;
  font-size: 24px;
  flex-grow: 1;
  text-align: center;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari 3-8 */
  transform: rotate(-10deg);
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
}
.header_parala1 {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 50vh;
  background-image: url(../img/background1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
.header_parala2 {
  position: absolute;
  top: 50vh;
  width: 100%;
  height: 50vh;
  background-image: url(../img/background2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
.header_parala3 {
  position: absolute;
  top: 80vh;
  width: 100%;
  height: 35vh;
  background: url(../img/background3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  -webkit-box-shadow: inset 0px -5px 5px 0px rgba(255, 255, 255, 0.75), 0px -2px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px -5px 5px 0px rgba(255, 255, 255, 0.75), 0px -2px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px -5px 5px 0px rgba(255, 255, 255, 0.75), 0px -2px 10px 0px rgba(50, 50, 50, 0.75);
}
  .header__title2 {
  position: absolute;
  top: 40vh;
  left: 10%;
  font-size: 24px;
  flex-grow: 1;
  text-align: center;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari 3-8 */
  transform: rotate(5deg);
  text-shadow:  0px 1px 3px rgba(0, 0, 0, 1), 0px 1px 15px rgba(0, 0, 0, 1);
}
.header__title3 {
  display: none;
  top: 60%;
  position: absolute;
  font-size: 16px;
  flex-grow: 1;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  text-shadow:  0px 1px 3px rgba(0, 0, 0, 1), 0px 1px 15px rgba(0, 0, 0, 1);
  z-index: 10;

}
.header__person {
  background: url(../img/person.png);
  z-index: 5;
  top: 80%;
  margin-top: -110px;
  position: relative;
  height: 200px;
  width: 100px;
}
.navbar {
  top: 80vh;
  position: absolute;
  z-index: 10;
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.navbar-fixed {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;

}
.navbar-fixed + #about {
  padding-top: 100px;
}
.navbar > a {
  font-size: 1.3rem;
  color: #fff;
  font-family: "Comic Sans MS";
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 1), 0px 1px 3px rgba(0, 0, 0, 1);
  text-decoration: none;
}
.navbar > a:hover {
  transform: scale(1.1);
}
.header__arrow {
  display: none;
}
section:first-of-type {
  margin-top: 20vh;
}
.section {
  background-color: #fff;
  color: #444948;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.section__heading {
  width:100%;
  text-align: center;
}
.section__image {
  height: auto;
  width: 80vw;
}
.section__content p {
  font-size: 1.3em;
  line-height: 1.6;

}
.section__link {
  margin: auto;
  margin: 0 auto;
  color: white;
}
/*  Courses */
.courses {
  position: relative;
  display: block;
  width: 300px;
  height: 500px;
  margin: 0 auto;
}
.slider__arrow-right {
  position: absolute;
  top: 30%;
  font-size: 30px;
  left: 105%;
  cursor: pointer;
}
.slider__arrow-left {
  position: absolute;
  top: 30%;
  font-size: 30px;
  left: -10%;
  cursor: pointer;
}
.holder {
  margin: 0 auto;
  max-height:500px;
  max-width:300px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}
.slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  height: 500px;
  transition:all 0.5s;
}
.slide-wrapper.active {
  margin: 0 auto;
  transform: translateX(0);
}
.slide-wrapper.hidden{
  z-index: -1;
  visibility: none;
}
.slide-wrapper.next {
  position: absolute;
  transform: translateX(100%);
}
.slide-wrapper.previous {
  position: absolute;
  transform: translateX(-100%);
}
.slide {
  align-self: flex-start;
  width: 300px;
  height: 300px;
  background-color: #BADA55;
}
.temp {
  font-size: 18px;
  line-height: 1.5em;
}
.temp p {
  text-align: center;
}
.slide-img {
  height: 100%;
  max-height: 300px;
  max-width: 300px;
  width: auto;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 3px;
}

/* Goodreads */
.goodreads {
  color: #444948;
}
.gr_custom_container_1533674007 {
    border-radius: 10px;
    padding: 20px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #444948;
    width: 300px;
    overflow: hidden;
  }
  .gr_custom_header_1533674007 {
    /* customize your Goodreads header here*/
    width: 100%;
    color: #444948;
    margin-bottom: 15px;
    text-align: center;
    font-size: 120%;
    cursor: pointer;
  }
  .gr_custom_each_container_1533674007 {
    /* customize each individual book container here */
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 4px;
    opacity: 0;
    transition: all .5s;
    height: 0;
  }
  .gr_custom_each_container_1533674007.active {
    height: 100%;
    opacity:1;
    transform:translateX(0%) scale(1);
}
  .gr_custom_book_container_1533674007 {
    /* customize your book covers here */
    overflow: hidden;
    height: 160px;
    color: #444948;
    margin: 0 auto;
    width: 98px;
  }
  .gr_custom_author_1533674007 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_title_1533674007 a {
    text-decoration: none;
    color: #444948;
  }
  .gr_custom_author_1533674007 a {
    text-decoration: none;
    color: #444948;
  }
.projects {

}
.projects__img {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  width: 300px;
  height: 300px;
  margin: 10px;
}
section:last-of-type {
  margin-bottom: 20vh;
}
/*Footer*/
.footer {
  background-image: url(../img/bottom.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  margin: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 300px;
  -webkit-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px -3px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         0px -3px 4px 0px rgba(0, 0, 0, 0.75);
}
.footer__button {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 25px 42px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  border-color: #444948;
  cursor: pointer;
  transition: all 1s;
  z-index: 2;
}
.footer__button.hidden {
  z-index: -1;
  opacity: 0;
}
.footer__form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: -1;
  transition: all 1s;
}
.footer__form.visible {
  opacity: 1;
  z-index: 3;
} 
.form__ele {
  width: 300px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}
.form__ele-submit {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  border-color: #444948;
  cursor: pointer;
}
.form__ele-submit:hover {
  transform: scale(1.05);
}
.form__ele-submit:active {
  transform: scale(0.9);
}
.footer__media {
  font-size: 32px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
}
.footer__link {
  color: white;
  margin: 10px;
}
.footer__link:hover {
  color: #000;
}
.footer__copy {
  margin: 1px;
}

@media only screen and (min-width: 768px) {
 .header {
  background-image: none;
  padding-top: 10%;
  margin-bottom: 0;
 }
 .header_parala3 {
  background-image: none;
  display: none;
 }
 .header_parala1 {
  top: 20%;
  background-image: url(../img/backgroundBig1.jpeg);
 }
 .header_parala2 {
  background-image: none;
 }
 .header__title1 {
  left: 20%;
  z-index: 10;
  top: 20%;
  font-size: 2em;
  -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari 3-8 */
  transform: none;
 }
 .header__title2 {
  left: 24%;
  z-index: 10;
  top: 35%;
  -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari 3-8 */
  transform: none;
 }
 .header__title3 {
  display: inline;
  top: 45%;
  left: 50%;
  position: absolute;
  font-size: 2em;
  flex-grow: 1;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
  z-index: 10;
}
.header__person {
  position: absolute;
  left: 60%;
  top: 15%;
  background: url(../img/personBig.png) no-repeat center;
  background-size: cover;
  display: block;
  z-index: 9;
  height: auto;
  width: 500px;
  height: 700px;
  transform: scale(0.8);
}
 .navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  top: 65%;
  background-color: #fff;
 }
 .navbar-fixed {
  top: 0;
}
 .navbar > a {
  font-size: 2rem;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: none;
  text-decoration: none;
}
 .header__arrow {
  cursor: pointer;
  position: relative;
  top: 70%;
  display: block;
  font-size: 3em;
  color: black;
  margin: 0 auto;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
 }
 section:first-of-type {
  margin-top: 0;
}
 .projects {
  display: flex;
  flex-flow: row wrap;
}
.projects__container {
  flex: 1 1 21%; /* explanation below */
}
 .footer {
  background-image: url(../img/backgroundBig1.jpeg);
}
.footer__media {
  font-size: 3em;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
}
 @keyframes arrow {
    0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.4, 1.4);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}
 .wrapper {
  max-width: 60vw;
  margin: auto;
 }
 .section__image {
  max-width: 500px;
  height: auto;
 }
 .projects {
  display: flex;
 }
}