body, html {
    height: 100%;
}
body {
	background: rgba(0, 132, 255, 1);
	margin: 0;
    padding: 0;
}
.backgroundflower {
  width: auto;
  height: 100%;
  display: block;
  position: relative;
}
.backgroundflower::after {
  content: "";
  background: url(background.png);
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto;
	padding: 20px 0;
	width: 80%;
	background: white;
	box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.8);

}
.row1 {
	position: relative;
	overflow: hidden;
}
.circle {
	margin: 0 auto;
	background-color: rgba(139, 195, 68, 0.9);
	border-radius: 50%;
	width: 250px;
	border: 1px solid rgba(139, 195, 68, 0.9);
	height: 250px;
	
}
h1 {
	padding-top: 30px;
	font-size: 2rem;
	font-family: Verdana;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 7px rgba(139, 195, 68, 1), 2px 2px 7px rgba(139, 195, 68, 0.9), 3px 3px 7px rgba(139, 195, 68, 0.8);
}
.navbar {
	padding: 10px 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
	float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	width: 50px;
	border-right: 1px dotted DarkGrey;
}
li a:hover {
	color: Grey;
}
.column1 {
	float: left;
	border: solid 1px black;
	position: top;
}
.column2 {
	float: right;
	border: solid 1px black;
	position: top;
}
#idhome {
	display: block;
}
#idabout {
	display: none;
}
#idprojects {
	display: none;
}
#idcontact {
	display: none;
}
.photo {
	margin: auto;
	width: 100%;
	height: auto;
	max-height: 391px;
	max-width: 266px;
	margin-left: 10px;
	display: inline-block;

/* Footer */
footer {
  background-color: #212121;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
	width: 100%;
  padding: 0;
  margin:0;
}
footer .footercol {
  display: inline-block;
	vertical-align: top;
  width: 33%;
  padding: 10px 10px;
}
footer .center {
  padding-top: 20px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
footer .center span:nth-child(1) {
  color: green;
}
footer .center span:nth-child(3) {
  color: skyblue;
}
footer .right {
  text-align: right;
}
footer .right a {
  font-size: 16px;
}
footer .fa, a {
    color: white;
    padding: 20px 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

footer a:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}
/* For mobile phones: */
@media only screen and (max-width: 840px) {
  footer .footercol {
    width: 100%;
    }
  footer {
    font: bold 14px sans-serif;
  }
  footer .left, .right {
    text-align: center;
  }
}
